################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.github
/.vs
/docs
/src/MAIS.Core/bin/Debug/net10.0
/src/MAIS.Core/obj
/src/MAIS.Infrastructure/bin/Debug/net10.0
/src/MAIS.Infrastructure/obj
/src/MAIS.Service/bin/Debug/net10.0-windows
/src/MAIS.Service/obj
/src/MAIS.Sidebar/bin/Debug/net10.0-windows/win-x64
/src/MAIS.Sidebar/obj
/tests/MAIS.Core.Tests/bin/Debug/net10.0
/tests/MAIS.Core.Tests/obj
/tests/MAIS.Service.Tests/bin/Debug/net10.0-windows
/tests/MAIS.Service.Tests/obj
/MAIS.slnLaunch.user
/src/MAIS.Sidebar.Abstractions/obj
/src/MAIS.Modules.CrimsSeverity/obj
/src/MAIS.Modules.CrimsSeverity/bin/Debug/net10.0-windows
/src/MAIS.Sidebar.Abstractions/bin/Debug/net10.0-windows
/src/MAIS.Server.Service/bin/Debug/net10.0-windows
/src/MAIS.Server.Service/obj
/src/MAIS.Client.Service/bin/Debug/net10.0-windows
/src/MAIS.Client.Service/obj
/tests/MAIS.Integration.Tests/bin/Debug/net10.0-windows
/tests/MAIS.Integration.Tests/obj
/src/MAIS.Client.Service/logs/MAIS.Client-20260611.txt
/src/MAIS.Server.Service/logs/MAIS.Server-20260611.txt
/src/MAIS.Client.Service/logs
/src/MAIS.Core/bin/Release/net10.0
/src/MAIS.Infrastructure/bin/Release/net10.0
/src/MAIS.Modules.CrimsSeverity/bin/Release/net10.0-windows
/src/MAIS.Server.Service/bin/Release/net10.0-windows/win-x64
/src/MAIS.Sidebar.Abstractions/bin/Release/net10.0-windows
/src/MAIS.Server.Service/logs
